


body {                  background-color: #199aca;}
.friend {               background-color: #404;}

h1 {                    color: #205};
div.friend h3 {         text-transform: uppercase; background-color:#f09};

